/* CSS Document */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes del {
    0% { 
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        background: -webkit-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: -ms-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        transform: translateY(0);
        z-index: 150;   
    }
    100% {
        background: -webkit-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: -ms-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        transform: translateY(-1100px);
        z-index: 150;
    }
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.8px;
    word-break: break-all;
}

.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: backwards;
}

.welcome {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-family: 'Tangerine', cursive;
    color: white;
    animation: fadein 1.5s 0s both, del 0.3s 2s forwards;   
}

.hello-world {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-family: 'Tangerine', cursive;
    color: white;
    animation: fadein 1.5s 2s both, del 0.3s 4s forwards;
}

a {
    color: #1ca9e3;
    text-decoration: none;
}

a:hover, a:hover img {
    opacity: .8;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

img, video, object {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    display: block;
}

ul, li {
    list-style: none;
}

/*--------------------------------
　全体
---------------------------------*/

#wrapper {
    background-color: #f3f3f3;
}

.inner {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

#contents {
    padding: 70px 0;
}

/*--------------------------------
　ヘッダー
---------------------------------*/
#header-bg {
    background-image: url(../img/cat_pc.jpg);
    background-position: top; 
    height: 500px;
}

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
    background: -ms-linear-gradient(top, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    height: 500px;
}

#header .logo {
    display: block;
}

#header .logo-title {
    font-family: 'Vollkorn', serif;
    font-size: 70px;
    color: white;
    line-height: 1;
}

#header .logo-desc {
    display: block;
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

/*--------------------------------
　グローバルナビ
---------------------------------*/

#gnav {
    padding: 10px;
    font-family: 'Open sans', sans-serif;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #f3f3f3;
}

#gnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#gnav li {
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
}

#gnav li:last-child {
    margin-right: 0;
}

#gnav li img {
    width: 26px;
    float: left;
    margin-right: 5px;
}

#gnav li a {
    color: black;
}

#gnav li a:hover {
    color: dimgray;
}

/*--------------------------------
　Section
---------------------------------*/

.section .inner {
    padding: 70px 10px;
}

.section .section-title-block {
    text-align: center;
    margin-bottom: 10px;
    
}
.section-title-block img {
    display: inline-block;
    width: 75px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.section .section-title {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.01em;
    display: inline-block;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.section .section-desc {
    text-align: center;
}
.section a{
    position: relative;
}



/*--------------------------------
　PROFILE
---------------------------------*/

.profile-wrapper {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile-image {
    width: 30%;
}

.profile-image img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-desc {
    width: 65%;
}

.profile-desc p#certification {
    padding-top: 16px;
    
}

.under {
    border-bottom: solid 1px black;
}

.profile-desc p {
    font-size: 16px;
}

.profile-desc h2 {
    font-size: 28px;
    margin-top: 10px;
}

.lang-wrapper img {
    display: inline-block;
}

img.python {
    width: 220px;
}

img.html {
    width: 75px;
}

img.css {
    width: 53px;
}

img.flask {
    width: 160px;
}

img.PyCharm {
    width: 65px;
}

img.brackets {
    width: 60px;
}

img.git {
    width: 135px;
}

img.github {
    width: 60px;
}

img.heroku {
    width: 70px;
}



/*--------------------------------
　WORKS
---------------------------------*/

#works .work-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#works .work-card {
    width: 33%;
    margin: 10px 10px;
}

#works .card-inner {
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
    text-align: center;
    height: 615px;
}

#works .work-image {
    display: block;
    margin-bottom: 8px;
    border-radius: 10px;
}

#works .work-title {
    font-size: 16px;
    font-weight: bold;
}

#works .work-info {
    font-size: 13px;
    margin-top:5px;
    margin-bottom: 10px;
}

#works .caution {
    font-size: 12px;
}

#works .use-skill {
    margin-top: 5px;
    margin-bottom: 15px;
}

#works .use-skill h3 {
    margin-bottom: 2px;
} 

#works .work-url {
    font-size: 13px;    
}


/*--------------------------------
 CONTACT
---------------------------------*/

#contact .contact-wrapper {
    padding: 20px 0;
}

#contact .mail {
    margin: 20px 0;
    text-align: center;
}

#contact h3 {
    font-size: 17px;
}


#contact .mail .mail-address {
    font-size: 32px;
    color: dimgray;
    background: linear-gradient(transparent 0%, #c1e0ff 0%);   
}

#contact .account-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#contact .github {
    margin: 2px;
}

#contact .github img {
    width: 62px;
    
}


/*--------------------------------
 Footer
---------------------------------*/

#footer {
    background-color: #333;
}

#footer .inner {
    padding: 30px;
}

#footer .copyright {
    font-size: 10px;
    color: #8c8c8c;
    text-align: center;
}

/*media Queries 1024
----------------------------------------------------*/

@media screen and (max-width: 1024px) {
    #header-bg {
        height: 440px
    }
    #header {
        height: 440px;
    }
    #header .logo-title {
        font-size: 60px;
    }
    #works .card-inner {
        height: 680px;
    }
    @keyframes fadeout {
    0% {
        background: -webkit-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: -ms-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        transform: translateY(0);
        z-index: 150;
        }
    100% {
        background: -webkit-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: -ms-linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        background: linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 0, 255));
        transform: translateY(-1500px);
        z-index: 150;
        }
    }
}


/*media Queries 825
----------------------------------------------------*/

@media screen and (max-width: 825px) {
    .welcome {
        font-size: 56px;
    }
    .hello-world {
        font-size: 56px;
        }
    #header-bg {
        background-position: 60% 0; 
        height: 300px;
    }
    #header {
        height: 300px;
    }
    #header .logo-title {
        font-size: 46px;
    }
    .section .section-title {
        font-size: 48px;
    }
    .profile-wrapper {
        display: block;
        text-align: center;
    }
    .profile-image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 30%;
    }
    .profile-desc {
        width: 100%;
    }
    .profile-desc p {
        font-size: 14px;  
    }
    .profile-desc #des {
        text-align: left
    }
    .profile-desc h2 {
        font-size: 24px;
    }
    img.python {
        width: 160px;
    }
    img.html {
        width: 56px;
    }
    img.css {
        width: 40px;
    }
    img.flask {
        width: 130px;
    }
    img.PyCharm {
        width: 52px;
    }
    img.brackets {
        width: 50px;
    }
    img.git {
        width: 114px;
    }
    img.github {
        width: 50px;
    }
    img.heroku {
        width: 58px;
    }
    #works .work-card {
        width: 45%;
    }
    #works .card-inner {
        height: 550px;
    }
    #works .work-info {
        font-size: 12px;
    }
    #works .caution {
        font-size: 11px;
    }
}

/*media Queries 670
----------------------------------------------------*/

@media screen and (max-width: 670px) {
    .welcome {
        font-size: 40px;
    }
    .hello-world {
        font-size: 40px;
        }
    #header-bg {
        height: 270px;
    }
    #header {
        height: 270px;
    }
    #header .logo-title {
        font-size: 36px;
    }
    #header .logo-desc {
        font-size: 16px;
    }
    #gnav li {
        font-size: 16px;
        padding: 0 15px;
    }
    #gnav li img {
        width: 24px;
        margin-right: 5px;
    }
    .section .inner {
        padding: 30px 0px;
    }
    .section-title-block img {
        width: 75px;
        margin-bottom: 30px;
        margin-right: 10px;
    }
    .section .section-title {
        font-size: 40px;
    }
}

/*media Queries 570
----------------------------------------------------*/

@media screen and (max-width: 570px) {
    .section .inner {
        padding: 30px 0px;
    }
    .profile-wrapper {
        width: 90%;
    }
    #works .card-inner {
        height: 560px;
    }
    #works .work-card {
        width: 100%;
    }
}

/*media Queries 480
----------------------------------------------------*/

@media screen and (max-width: 480px) {
    .welcome {
        font-size: 24px;
    }
    .hello-world {
        font-size: 24px;
    }
    #header-bg {
        background-size: 130%;
    }
    #header .logo-title {
        font-size: 22px;
    }
    #header .logo-desc {
        font-size: 14px;
    }
    #gnav li {
        font-size: 8px;
        padding: 0 7px;
    }
    #gnav li img {
        width: 14px;
        margin-right: 2px;
    }
    #contents {
        padding: 30px 0;
    }
    .section-title-block img {
        width: 40px;
        margin-bottom: 25px;
    }
    .section .section-title {
        font-size: 34px;
    }
    .profile-desc h2 {
        font-size: 22px;
    }
    #contact .contact-wrapper {
        padding: 0;
    }
    #contact .mail {
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    #contact .mail .mail-address {
        font-size: 22px; 
    }
}
